<% content_for(:title, "Home") %>

<%= render(layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: false }) do %>

    <!-- <h1 class="pb-3">Trestle Examples</h1> -->
    <h1>Trestle Examples</h1>

    <hr/>

    <h2>
        Branch: <a href="https://github.com/tcd/trestle-examples/tree/trestle-active_storage"><em>trestle-active_storage</em></a>
    </h2>

    <hr/>

    <p>
        This branch contains example usage of <a href="https://github.com/richardvenneman/trestle-active_storage">trestle-active_storage</a>.
    </p>

<% end %>
