<% content_for(:title, "Home") %>

<%= render(layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: false }) do %>

    <h2 class="pb-3">Trestle Examples</h2>

    <p>
        This branch contains example usage of <a href="https://github.com/richardvenneman/trestle-active_storage">trestle-active_storage</a>.
    </p>

<% end %>
